* {
  box-sizing: border-box;
}

/*main {
  padding: 15px 100px 25px 100px;
}*/

.top-text {
  font-size: 22px;
  padding: 0px 50px 0px 50px;
  max-width: 70%;
  margin: auto;
}

.end-tag {
  font-weight: bold;
  text-align: right;
}

.middle-container {
  margin: auto;
  display: flex;
  /*align-items: space-between;
  justify-content: space-around;*/
  height: auto;
  max-width: 75%;
}

.image-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-beteen;
  justify-content: center;
  align-items: center;
  /*margin-right: 7%;*/
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.image-links img {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  height: 175px;
  width: 150px;
  margin: 30px 65px 30px 65px;
  margin-bottom: 0;

}

/*.wiki {
  margin: 0px 80px 0px 80px;
}*/

a {
  text-decoration: none;
}

.disclaimer {
  text-align: center;
}

ul {
  list-style: none;
}

.bottom-container {
  width: 20%;
  margin: auto;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
