.paragraphs {
  padding: 1% 15% 0 15%;
}

p {
  font-size: 20px;
  font-family: sans-serif;
  line-height: 28px
}

.end-tag {
  text-align: right;
}

.image-container {
  /*padding: 10%;*/
  padding: 2% 10% 2% 10%;
}

.link-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  border-bottom: 1px solid black;

}

.wiki img {
  width: 125px;
  height: 150px;
  margin: 10px 50px 10px 50px;
}

.footer {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 14px;
}

.disclaimer {
  width: 60%;
  margin: auto;
}

/*.flex {
  display: flex;
}*/

.bottom-container {
  width: 15%;
  margin: auto;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  text-decoration: none;
}

.bottom-container a {
  text-decoration: none;
  font-size: 14px;
}
